.detailsContainer > * + * {
  margin-top: 4rem;
}

.topSection {
  padding-top: 4rem;
}

.perfContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.perfContainer .perfItem {
  flex: 1;
  vertical-align: middle;
}

.chip {
  height: 32px;
  border-radius: 16px;
  letter-spacing: 0.05em;
  font-size: 12px;
  display: inline-block;
  padding: 8px 12px;
  color: var(--text-subtitle);
  border: 1px solid var(--border-color);
}

.title {
  font-size: 1.6rem;
  color: var(--text-title);
}

.exchange {
  font-size: 14px;
  color: var(--text-subtitle);
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.p {
  text-align: justify;
  line-height: 1.6rem;
  color: var(--text-p);
  letter-spacing: 0.01em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.container .col {
  flex: 1;
}

.container .col .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.container .col .item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container .col:last-child {
  text-align: right;
}

/* .container > * + * {
  border-right-width: 0px;
  border-left-width: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-style: solid;
  border-color: var(--border-color);
} */

.heading {
  display: inline-block;
  color: var(--text-subtitle);
  font-size: 15px;
}

.value {
  color: var(--text-title);
  font-weight: 700;
}

.perfContainer .value {
  color: var(--text-title);
  font-weight: 700;
  margin-top: 0.4rem;
}


.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chip {
  height: 32px;
  border-radius: 16px;
  font-size: 12px;
  display: inline-block;
  padding: 8px 12px;
  color: var(--text-subtitle);
  border: 1px solid var(--border-color);
}

.mainTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.container .heading {
  display: inline-block;
  color: var(--text-subtitle);
}

.container .value {
  color: var(--text-title);
  font-weight: 700;
}

.section > * + * {
  margin-top: 1.2rem;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
}
