.stock {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.ticker {
  color: white;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 12px;
}
