.header {
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background: var(--background);
  /* backdrop-filter: saturate(180) blur(5px); */
  border-bottom: 1px solid var(--border-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  font-weight: 600;
  /* color: white; */
  font-size: 1.3rem;
}

.main {
  margin: 64px 0;
}
