.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stat {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.price {
  font-weight: 600;
  font-size: 2rem;
}

.percentageContainer {
  padding: 0.4rem 0.6rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-down);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.amount {
  font-weight: 600;
  font-size: 1rem;
}
